.contentAboutCont1 {
  color: rgba(255, 255, 255, 0.5);
  height: 140px; }
  .contentAboutCont1 a {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.5); }
  .contentAboutCont1 span {
    line-height: 15em; }

.contentAboutCont2 {
  margin: 100px 0;
  color: rgba(0, 0, 0, 0.9);
  line-height: 1.1em; }
  .contentAboutCont2 h3 {
    font-weight: bold;
    font: 1.2em OpenSansRegular sans-serif; }
  .contentAboutCont2 .block1AboutCont2 {
    width: 74.5%;
    float: left; }
  .contentAboutCont2 .block2AboutCont2 {
    width: 25%;
    float: right; }
    .contentAboutCont2 .block2AboutCont2 li {
      list-style: square;
      color: #e74c3c; }
    .contentAboutCont2 .block2AboutCont2 span {
      color: rgba(0, 0, 0, 0.9); }

.contentAboutCont3 {
  margin: 50px 0;
  color: rgba(255, 255, 255, 0.7); }
  .contentAboutCont3 h2 {
    text-align: center; }
  .contentAboutCont3 div {
    margin-bottom: 60px; }
  .contentAboutCont3 div div {
    width: 25%;
    float: left; }

.contentAboutCont4 {
  margin: 100px 0;
  text-align: left; }
  .contentAboutCont4 div {
    float: left;
    width: 48%; }
    .contentAboutCont4 div:last-child {
      margin-left: 2%; }
  .contentAboutCont4 h4 {
    color: #e74c3c; }