@font-face {
  font-family: "OpenSansRegular";
  src: url("fonts/OpenSansRegular.eot");
  src: url("fonts/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansRegular.woff") format("woff"), url("fonts/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "OpenSans-CondLight";
  src: url("fonts/OpenSans-CondLight.ttf");
  font-style: normal;
  font-weight: normal; }
.row:before, .row:after {
  content: '';
  height: 0;
  clear: both;
  display: block; }

a {
  text-decoration: none;
  color: #fff; }

li {
  list-style: none; }

.mainWidth {
  width: 72%;
  margin: 0 auto; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 16px OpenSansRegular, Arial, Verdana, sans-serif; }

.container1 {
  width: 100%;
  background: #363636;
  color: #fff;
  height: 700px; }

header {
  height: 100px;
  background: #e74c3c;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.menuShower {
  display: none; }

.topSearch {
  margin-left: 2.1%;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  cursor: pointer; }
  .topSearch img {
    margin-left: 30%; }

.topMenu {
  text-align: right; }
  .topMenu li {
    display: inline-block;
    margin-right: 1%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    height: 100%;
    border: 1px solid transparent; }
    .topMenu li:hover {
      background: rgba(255, 255, 255, 0.2);
      border: 1px solid #fff; }
    .topMenu li:active {
      background: rgba(255, 255, 255, 0.4);
      border: 1px solid #fff; }

.container1 h1 {
  margin: 180px auto 0;
  text-align: center;
  font: 3em OpenSans-CondLight, sans-serif; }
.container1 p {
  width: 64.39%;
  margin: 0 auto;
  line-height: 1.2em;
  margin-top: 20px; }
.container1 button {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 21.95%;
  height: 50px;
  color: #fff;
  border: 1px solid #fff;
  outline: none; }
  .container1 button:active {
    background: rgba(255, 255, 255, 0.7);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

.container2 {
  height: 360px;
  width: 100%;
  background: #fff;
  font-size: 0.857em; }

.blockCont2 {
  width: 45%;
  display: inline-block;
  margin-top: 100px;
  float: left;
  margin-right: 20px; }
  .blockCont2 h3 {
    font-weight: bold;
    font-size: 1.571em; }
  .blockCont2 span {
    color: #e74c3c; }

.container3 {
  background: #db574a;
  height: 300px; }
  .container3 h2 {
    display: block;
    text-align: center;
    line-height: 4em;
    margin-top: 50px;
    font-size: 2.375em; }

.blockCont3 {
  text-align: center;
  float: left;
  width: 23%;
  margin-right: 2%; }
  .blockCont3 img {
    margin: 0 auto;
    cursor: pointer; }

.container4 {
  height: 408px;
  text-align: center; }

.ourProj {
  margin-top: 100px; }
  .ourProj div {
    float: right; }
  .ourProj span {
    font-weight: bold; }
  .ourProj #our {
    float: left; }
  .ourProj img {
    cursor: pointer; }

#proj {
  color: #e74c3c; }

.blocksForProj {
  height: 130px;
  margin-top: 20px;
  overflow: hidden; }
  .blocksForProj ul {
    width: 9999px; }

.blocksCont4 {
  float: left;
  margin-right: .5%; }
  .blocksCont4 img {
    height: 130px; }

.container5 {
  background: #000;
  height: 230px;
  color: #fff; }
  .container5 span span {
    color: #e74c3c; }

.blockCont5 {
  font-size: .9em;
  width: 23%;
  float: left;
  margin-top: 33px;
  margin-right: 2%; }

.innerBlockCont5 {
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.4); }
  .innerBlockCont5 a {
    color: #e74c3c;
    opacity: .6;
    text-decoration: underline; }
  .innerBlockCont5 img {
    height: 45px;
    float: left;
    margin-right: 5%; }

.thirdInnerBlockBottom {
  margin-top: 35px; }

.lastInnerBlockBottom {
  margin-top: 20px; }
  .lastInnerBlockBottom img {
    height: 10px;
    margin-right: 8%;
    cursor: pointer; }

/*************animations*******************/
/*************media-queries***************/

/*# sourceMappingURL=themes.css.map */
