@font-face {
  font-family: "OpenSansRegular";
  src: url("fonts/OpenSansRegular.eot");
  src: url("fonts/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSansRegular.woff") format("woff"), url("fonts/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }


.topMenu a:first-child li {
    background: rgba(255, 255, 255, .3);
}

.contentAboutCont1  {
    color: rgba(255, 255, 255, .5);
    height: 140px;
    & a {
        text-decoration: underline;
        color: rgba(255, 255, 255, .5);
    }
    & span {
         line-height: 15em;
    }
}

// ABOUT CONTAINER 2

.contentAboutCont2 {
    font: 1.2em OpenSansRegular sans-serif;
    margin: 100px 0;
    color: rgba(0, 0, 0, .9);
    line-height: 1.1em;
    h3 {
        font-weight: bolder;
        font: 1.4em Verdana sans-serif;
    }
}
.block1AboutCont2 {
    width: 72%;
    float: left;
}
.block2AboutCont2 {
    width: 25%;
    float: right;
    & li {
        list-style: square;
        color: #e74c3c;
    }
    & span {
        color: rgba(0, 0, 0, .9);
    }
}


// ABOUT CONTAINER 3

.contentAboutCont3 {
    color: rgba(255, 255, 255, .7);
    & h2 {
        text-align: center;
        font: 2em OpenSansRegular sans-serif;
    }
    & div div {
        width: 23%;
        float: left;
        margin-right: 2%;
    }
}
.wrapBlocksAboutCont3 {
    margin-top: 55px;
}
// ABOUT CONTAINER 4

.contentAboutCont4 {
    
}
.blockContentAboutCont4 {
    float: left;
    width: 48%;
    margin-right: 2%;
    &>div:first-child {
        font: 1.1em OpenSansResular sans-serif;
        font-weight: bolder;
        & h3 {
            float: left;
        }
    }
    &>div:last-child {
        margin-top: 35px;
    }
}
.buttonsAboutCont4 {
    float: right;
}
.prevCont4About {
    background: url(../img/strLeft.png) no-repeat;
    width: 15px;
    height: 20px;
    border: 0 solid transparent;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
}
.nextCont4About {
    background: url(../img/srtRedRight.png) no-repeat;
    width: 15px;
    height: 20px;
    border: 0 solid transparent;
    -webkit-outline: none;
    -moz-outline: none;
    -ms-outline: none;
    -o-outline: none;
    outline: none;
}
.prevCont4About:hover, .nextCont4About:hover  {
    cursor: pointer;
}