.contentHomeCont1 {
    padding-top: 175px;
    padding-bottom: 160px;
    h1 {
    text-align: center;
    font: 3em OpenSans-CondLight, sans-serif;
    }
    p {
        width: 64.39%;
        margin: 0 auto;
        line-height: 1.2em;
        margin-top: 20px;
    }
    button {
        margin: 0 auto;
        background: rgba(255, 255, 255, .1);
        display: block;
        margin-top: 50px;
        width: 21.95%;
        height: 50px;
        color: #fff;
        border: 1px solid #fff;  
        outline: none;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        &:hover {
            -webkit-opacity: .8;
            -moz-opacity: .8;
            -ms-opacity: .8;
            -o-opacity: .8;
            opacity: .8;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
        }
        &:active {
            background: rgba(255, 255, 255, .7);
            
        }
    }
}



// CONTENT Container 2 HOME page 

.blockCont2 {
    line-height: 1.2em;
    width: 45%;
    float: left;
    &:last-child {
        margin-left: 5%;
    }
    & h3 {
        font-weight: bold;
        font-size: 1.571em;
    }
    span {
        color: #e74c3c;
    }
}


//CONTENT for container 3 home page (white)

 .contentHomeCont3 {
     color: rgba(255, 255, 255, .7);
     & h2 {
        text-align: center;
        font-size: 2.375em;
    }
}
.blockCont3 {
    text-align: center;
    float: left;
    width: 23%;
    margin-right: 2%;
    margin-top: 50px;
    & img {
        margin: 0 auto;
        cursor: pointer;
    }
}

//CONTENT for container 4 home page (white)

.contentHomeCont4 {
    overflow: hidden;
}
.ourProj {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    & div {
        float: right;
     }
    & p {
        float: left;
        font-weight: bold;
     }
    & span {
        color: #e74c3c;
    }
    img {
        cursor: pointer;
    }
}
.blocksForCont4Home {
    margin-top: 20px;
    height: auto;
    max-height: 160px;
    width: 1000%;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.blocksCont4 {
    float: left;
    width: 2.35%;
    height: 160px;
    margin-right: 0.2%;
    text-align: center;
    position: relative;
    & img {
        width: 100%;
        max-height: 130px;
        height: auto;
    }
    & span {
        //line-height: 2em;
        position: absolute;
        bottom: 0;
        text-align: center;
        right: 20%;
    }
}
.photoBigger {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    top: 0;
    display: none;
}

@media only screen and (max-width: 1000px) {
    //container1 
    .contentHomeCont1 {
        & button {
            width: 35%;
        }
    }
}

@media only screen and (max-width: 860px) {
    //container2
    
    
}

@media only screen and (max-width: 640px) {
   // container2
    .blockCont2:first-child {
        width: 100%;
        & h3 {
            text-align: center;
        }
        & p {
            text-indent: 5%;
            line-height: 1.4em;
        }
    }
    .blockCont2:last-child {
        display: none;
    }
    
    //container3
    .blockCont3 {
        width: 48%;
    }
    
    //container4 
    .blocksCont4 {
        width: 4.8%;
        & span {
            text-align: center;
        }
    }
}

@media only screen and (max-width: 480px) {
    //container1 
    .contentHomeCont1 {
        padding-top: 150px;
        padding-bottom: 70px;
        & p {
            width: 100%;
        }
        & button {
            width: 50%;
        }
    }
    
}