//FONTS
@font-face {
    font-family: "OpenSansRegular";
    src: url("fonts/OpenSansRegular.eot");
    src: url("fonts/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/OpenSansRegular.woff") format("woff"),
    url("fonts/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSans-CondLight";
    src: url("fonts/OpenSans-CondLight.ttf");
    font-style: normal;
    font-weight: normal;
}

//GENERAL THEMES

.row:before, .row:after {
    content: '';
    height: 0;
    clear: both;
    display: block;
}
a {
    text-decoration: none;
    color: #fff;
}
li {
    list-style: none;
}
//Все, что внутри(имеется ввиду центральная вертикальная колона, отцентрованная с контентом)
.mainWidth {
    width: 72%;
    margin: 0 auto;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: 16px OpenSansRegular, Arial, Verdana, sans-serif;
}


//TOP 1st CONTAINER 

.container1 {
    background: #363636;
    color: #fff;
    -webkit-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
header {
    background: #e74c3c;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.menuShower {
    display: none;
}
.topSearch {
    margin-left: 2.1%;
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    cursor: pointer;
    & img {
        margin-left: 30%;
    }  
}
.topMenu {
    text-align: right;
    & li {
        display: inline-block;
        margin-right: 1%;
        padding: 40px 20px;
        border: 1px solid transparent;
        -webkit-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        &:last-child {
            margin-right: 0;
        }
   
        &:hover {
            background: rgba(255, 255, 255, .2);
            border: 1px solid #fff;
            border-bottom-color: transparent;
            border-top-color: transparent;
        }
        &:active {
            background: rgba(255, 255, 255, .4);
            border: 1px solid #fff;
            border-bottom-color: transparent;
            border-top-color: transparent;
        }
    }
}

.topMenuShower {
    display: none;
    cursor: pointer;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    & img {
        float: left;
        filter: alpha(Opacity=75);
        -webkit-opacity: .4;
        -moz-opacity: .4;
        -ms-opacity: .4;
        -o-opacity: .4;
        opacity: .4;
    }
    & span {
        line-height: 1.3em;
    }
    &:hover {
        background: rgba(255, 255, 255, .5);
    }
}

//CONTAINER2 (white)

.container2 {
    background: #fff;
    font-size: 0.857em;
    padding-top: 100px;
    padding-bottom: 100px;
}

//CONTAINER3 (red)
.container3 {
    background: #db574a;
    padding-top: 50px;
    padding-bottom: 55px;
    
}

//CONTAINER4 (white)
.container4 {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #fff;
}

//CONTAINER5 (black)


.container5 {
    background: #000;
    padding-top: 33px;
    padding-bottom: 33px;
    color: #fff;
    
}
.blockCont5 {
    font-size: .9em;
    width: 23%;
    float: left;
    margin-right: 2%;
    & span span {
        color: #e74c3c;
    }
}
.innerBlockCont5 {
    margin-top: 25px;
    color: rgba(255, 255, 255, .4);
    a {
        color: #e74c3c;
        opacity: .6;
        text-decoration: underline;
    }
    img {
        height: 45px;
        float: left;
        margin-right: 5%;
    }
}
.thirdInnerBlockBottom {
    margin-top: 35px;
}
.lastInnerBlockBottom {
    margin-top: 20px;
    & img {
        height: 10px;
        margin-right: 8%;
        cursor: pointer;
    }
}




/******************************************/
/*************media-queries***************/
/****************************************/

@media only screen and (max-width: 1000px) {
    //Container5 (the last one)
    
    .blockCont5 {
        width: 31%;
        &:nth-child(3) {
            display: none;
        }
        &:first-child {
            margin-left: 1%;
        }
        &:last-child {
            margin-top: 1%;
        }
    }
}

@media only screen and (max-width: 860px) {
    
    //Container1 
    
    header {
        position: relative;
    }
    .topMenu {
        display: none;
        position: absolute;
        right: 22%;
        top: 30%;
        width: 33%;
        background: rgba(255, 255, 255, .3);
        -webkit-transition: width .6s ease-in-out, 
                height .6s ease-in-out .6s;
        -o-transition: width .6s ease-in-out, 
                height .6s ease-in-out .6s;
        transition: width .6s ease-in-out, 
                height .6s ease-in-out .6s;
        & li {
            margin-right: 0;
            display: block;
            padding: 8px 0;
            text-align: center;
            }
        }
    .topMenu.topMenuChanger {
        display: block;
        -webkit-transition: width .9s ease-in-out, 
                height .9s ease-in-out 1.5s;
        -o-transition: width .9s ease-in-out, 
                height .9s ease-in-out 1.5s;
        transition: width .9s ease-in-out, 
                height .9s ease-in-out 1.5s;
    }
    .topMenuShower {
    display: block;
    width: 20%;
    font: 1.4em Verdana sans-serif;
    position: absolute;
    top: 30%;
    right: 10px;
        &:hover {
            background: transparent;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
    
    
    
    //Container5 
    
    
    .blockCont5 {
        margin: 0 1%;
        width: 48%;
        &:nth-child(2) {
            display: none;
        }
    }
}

@media only screen and (max-width: 640px) {
    //container1 
    header {
        display: inherit;
        height: 70px;
        position: relative;
    }
    .topSearch {
        display: none;
    }
    .topMenuShower {
        display: inherit;
        position: inherit;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        & img {
            margin-left: 40%;
            margin-top: 20px;
        }
        & span {
            line-height: 3.2em;
        }
    }
    .topMenu {
        margin-top: 50px;
        width: 100%;
        margin-left: 20%;
        position: absolute;
        top: 20px;
        right: 0;
    }
}

@media only screen and (max-width: 480px) {
    //container5 
    
    .blockCont5:first-child {
        display: none;
    }
    .blockCont5:last-child {
        width: 100%;
        text-align: center;
    }
    .bottomImg {
        margin: 0 auto;
        //border: 1px solid #fff;
        width: 40%;
        height: 15px;
        & img {
            margin-left: 8%;
        }
    }
}


        

